<div class="form">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Anybody But Ford!</h1>
    <p>Vote transit, vote women's right, vote compassion, vote ANYBODY but ford</p>
  </div>

  <div class="form-label-group">
    <input type="text" id="postalcode" class="form-control" placeholder="Postal Code" required autofocus>
    <label for="postalcode">Postal Code</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" onclick={{action whoToVote}}>
    Who Should I Vote?</button>
</div>
<div id="ridinginfo" class="container hideRiding">
  <div class="row">
    Your Riding is: {{riding}}
  </div>
  <div class="row">
    Vote for: {{vote}}!
  </div>
  <div class="row">
    Candidate: {{candidate}}.
  </div>
</div>
<div class="container">
  <div class="row">
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text={{socialMediaText}}">
      Tweet</a>
  </div>
</div>